@model KulinarstvoASP.Models.Sastojak
@{
	ViewData["Title"] = "Detaljno o sastojku";
}

<h2 class="text-center mb-4">@Model.Naziv</h2>

<div class="d-flex justify-content-around mb-4">
	<a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Izmeni sastojak</a>
	<form asp-action="Delete" method="post">
		<input type="hidden" value="@Model.Id" name="id" />
		<button class="btn btn-danger">Ukloni sastojak</button>
	</form>
</div>

<div class="row justify-content-center">
	<div class="container border border-primary col-8 p-4 bg-light">
		<p class="fw-bold h4 text-center">Recepti koji koriste sastojak</p>
		<hr class="text-primary"/>

		<div class="d-flex flex-wrap justify-content-around">
			@foreach (var r in Model.Recepti)
			{
				<div class="card m-3" style="width:200px">
					<img style="width: 100%; height: 200px;" class="card-img-top" src="@r.Recept.Slika" alt="Slika">
					<div class="card-body text-center">
						<a asp-controller="Recept" asp-action="Details" asp-route-id="@r.Recept.Id" class="card-title h5 card-link">@r.Recept.Naziv</a>
					</div>
				</div>
			}
		</div>
	</div>
</div>

